body{
  margin: 0px;
  padding: 0px; 
  /* overflow: auto;  */
}

/* varibales */

/* @keyframes slidein {
   from {
    transform: translateX(-100%);
   }
   to {
    transform: translateX(0%);
   }
}

.system {
    animation: slidein 0.1s linear;
    animation-timeline: view(100px);
    animation-iteration-count: 1;
    animation-direction: normal;
    
} */

.scrolltracker{
    height: .5rem;
    background-color: #2e23bd;;
    inset: 0 0 auto ;
    position: fixed;
    transform-origin: left;

}
 
::-webkit-scrollbar{
    width: 1.6rem;
}

::-webkit-scrollbar-track{
    background: #E4E6EF;
    border-radius: 100vw;
    margin-block: .5em;
}

::-webkit-scrollbar-thumb{
    background: #2B2E3A;
    border: .25em solid white;
    border-radius: 100vw;
    
}

::-webkit-scrollbar-thumb:hover{
    background: #2B2E3A;
}

.wrapper{
    display: grid;
    /* grid-template-columns: 1fr 2fr 1fr; */
    grid-template-columns: repeat(1 , 1fr 1fr 1fr 1fr);;
    column-gap: 1.7rem;
    margin: 20px;
    row-gap: 1.5rem;
    grid-auto-rows: minmax(300px, auto);
  
    
}


.dashboard{
    background-color: #eee;
    padding: 1rem;
    grid-row: 1/3;
    border-radius: 40px;
    width: 400px;
    

}

.medium{
    background-color: #ddd;
    padding: 1rem;
    grid-column: 2/4;
    grid-auto-rows: 300px;
    border-radius: 40px;
    /* filter: drop-shadow(16px 7px 10px #d3d3d3); */
}

.introduction{
    background-color: #eee;
    padding: 1rem;
    grid-column: 4/5;
    border-radius: 40px;
    /* filter: drop-shadow(16px 7px 10px #d3d3d3); */
}

.social{
    /* background-color: #ddd; */
    background-color: white;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: -4/-3;
    /* filter: drop-shadow(16px 7px 10px #d3d3d3); */
    border-radius: 40px;
    filter: drop-shadow(9px 48px 27px #d3d3d3);
}

.containersocial{
    width: 200px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    /* background-color: aqua; */
    
}


.project{
    background-color: #eee;
    padding: 1rem;
    grid-column: -3/-1;
    grid-row: 2/4;
    border-radius: 40px;
    /* filter: drop-shadow(16px 7px 10px #d3d3d3); */
}

.design{
    background-color: #ddd;
    padding: 1rem;
    grid-row: 3/4;
    grid-column: -5/-3;
    border-radius: 40px;
    /* filter: drop-shadow(16px 7px 10px #d3d3d3); */
}

.api{
    background-color: #eee;
    padding: 1rem;
    grid-column: -5/-3;
    grid-row: 4/6;
    border-radius: 40px;
    /* filter: drop-shadow(16px 7px 10px #d3d3d3); */
}

.system{
    background-color: #ddd;
    padding: 1rem;
    grid-column: -3/-1;
    grid-row: 4/6;
    border-radius: 40px;
    cursor: pointer;
    /* transform: translateY(-10%) translateX(-10%); */
    /* filter: drop-shadow(16px 7px 11px #808080); */
    /* filter: drop-shadow(16px 7px 10px #d3d3d3); */
}


/* 
.system:hover{
   transition-delay: .3s;
   /* grid-row: 3/7;
   grid-column: -5/-3; */
   /* width: 300px;
   height: 300px; */
 

.monitor{
    background-color: #eee;
    padding: 1rem;
    grid-column: -5/-1;
    grid-row: 6/8;
    border-radius: 40px;
    /* filter: drop-shadow(16px 7px 10px #d3d3d3); */
}

.deploy{
    background-color: #ddd;
    padding: 1rem;
    grid-column: -5/-3;
    border-radius: 40px;
    /* filter: drop-shadow(16px 7px 10px #d3d3d3); */
}

.branching{
    background-color: #eee;
    padding: 1rem;
    grid-column: -3/-1;
    border-radius: 40px;
    /* filter: drop-shadow(16px 7px 10px #d3d3d3); */
}

.hire{
    background-color: #ddd;
    padding: 1rem;
    grid-column: -5/-3;
    grid-row: 9/11;
    border-radius: 40px;
    /* filter: drop-shadow(16px 7px 10px #d3d3d3); */
}

.feedback{
    background-color: #eee;
    padding: 1rem;
    grid-column: -3/-1;
    border-radius: 40px;
    /* filter: drop-shadow(16px 7px 10px #d3d3d3); */
}

.thankyou{
    background-color: #ddd;
    padding: 1rem;
    grid-column: -3/-1;
    border-radius: 40px;
    /* filter: drop-shadow(16px 7px 10px #d3d3d3); */
}


@media screen and (max-width: 1900px){
   
.wrapper{
    grid-template-columns: repeat(1,0.4fr,0.5fr);
    margin: 0px;
}

.dashboard{
    
}

}