.wrapper{
    background-color: brown;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass{
    background-color: blue; 
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.31);
    backdrop-filter: blur(6.7px);

    /* From https://css.glass */
/* From https://css.glass */
/* background: rgba(255, 255, 255, 0.31);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.7px);
-webkit-backdrop-filter: blur(6.7px);
border: 1px solid rgba(255, 255, 255, 0.15);
width: 100px;
height: 100px; */
}

